
@{
    ViewBag.Title = "VehiclePage";
}

<h2>VehiclePage</h2>


<form id="frVehicle" method="post" action=@Url.Action("InsertRecord")>
    Vehicle Number: <input type="text" name="txtvehicle" /><br />
    Capacity: <input type="text" name="txtcapacity" /><br />
    Available Seats: <input type="text" name="txtavailable" /> <br />
    Operable: <input type="text" name="txtoperable" />
    @*Operable: <input data-val="true"
                         data-val-required="The isActive field is required."
                         id="isActive"
                         name="isOperable"
                         type="checkbox"
                         value="true" />

        <input name="isOperable" type="hidden" value="false" />*@


    @*Operable:<select  name="txtoperable">
            <option value="select">Select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>

        </select>*@

    <br />
    <input type="submit" value="Submit" name="action">
    <input type="submit" value="Cancel" name="action">
</form>